@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    font-size: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

.header-footer{
    background-color:#baa6e4;
    list-style:none;
    text-align: center;
    height: 60px;
    text-decoration: none;
}

.menu-item{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
    list-style:none;
}

.item-card:hover{
    outline: 1px solid black;
}

.main-header{
    text-align:center;
}

.foto{
    display: block;
    margin: auto;
}

.laz-font{
    text-align: center;
    text-decoration: none;
    list-style: none;
    color:mediumpurple;
}

.laz{
    text-decoration: none;
    color: inherit;
}

.menu-h4{
    text-align: center;
}

.menu-prod{
    text-align: center;
}

.container{
    margin: 20px 20px;
}

.item-card{
    display: inline-block;
    width: 330px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    outline: 1px solid black;
}

.item-img{
    display: block;
    margin: 0 auto;

}

.name{
    display: inline-block;
    width: 70%
}

.price{
    text-align: right;
    width: 25%;
    display: inline-block;
}

.description{
    text-emphasis: justify;
}

@media screen and (max-width: 1000px){
    body{background: rgb(238, 81, 81);}
    .menu-item{
        display: block;
    }
}
